- var logo = require("../../assets/logo_full.svg").default
- var tagline = require("../../assets/logo_tagline.svg").default
- var landing01 = require("../static/landing-01.jpg").default
- var landing02 = require("../static/landing-02.jpg").default
- var landing03 = require("../static/landing-03.jpg").default
- var landing04 = require("../static/landing-04.jpg").default
- var landing05 = require("../static/landing-05.jpg").default

include ../components/Header.pug
include ../components/Section.pug

html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap", rel="stylesheet")
		link(href="/pages.css", rel="stylesheet")
		title Discriminatory - Together to end discrimination
	body
		+Header("ltr", "Your safe haven", "For many people, discrimination is an everyday reality. Time to change that.", "Launch the app", "Or explore what's happening", "العربية", "ar")

		+Section("ltr", "forwards")
			.c-section-text
				p Discrimination is
					span.big  harmful
					|  and perpetuates
					span.big.bold  inequality,
			.c-section-img
				img(src=landing02, loading="lazy", alt="woman touching her face looking at the camera")

		+Section("ltr", "backwards")
			.c-section-text
				p and we all have the right to be treated
					span.big.bold  equally.
				p Yet all too often we hear heartbreaking stories of people who suffer cruelty simply for belonging to a “different” group from those in positions of privilege or power.
			.c-section-img
				img(src=landing03, loading="lazy", alt="woman in hijab on top of a hill with clouds and sunset behind her")

		+Section("ltr", "vertical")
			.c-section-text
				p
					img(src=logo, alt="Discriminatory")
					|  allows you to report businesses that implement policies based on prejudice while getting the support you need.
			.c-section-img.preview
				.preview-img
					img(src=landing05, loading="lazy", alt="Example of platform on desktop")
				.preview-img
					img(src=landing04, loading="lazy", alt="Example of platform on mobile")

		p.c-tagline
			img(src=tagline, alt="logo", loading="lazy")