- var logo = require("../../assets/logo_full.svg").default

mixin Navbar(dir, link)
	.m-navbar(dir=dir)
		img(src=logo, alt="logo")
		a(href="/ar/")= link

mixin Header(dir, header, sub, button, link, lang)
	header.m-header(dir=dir)
		div
			+Navbar(dir, lang)
			.m-header-text
				h1= header
				p= sub
			m.header-links
				a(class="button info" href="/home")= button
				a(href="/explore")= link